body {
    background-color: #F0F1F9;
    font-family: 'Satoshi', sans-serif;
}

.header {
    background-color: #3843d0;
    border-bottom: 1px solid #FFC466;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.admin-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.admin-name {
    color: #fff;
    font-size: 18px;
    margin-right: 7px;
}

.logo {
    width: 60px;
    height: 40px;
    margin-left: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.demo-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3843d0;
    min-width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FFC466;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.body-content, .change-password-box {
    margin-top: 70px;
}

.sidebar {
    background-color: #3843d0;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 60px;
    bottom: 0;
    padding-top: 20px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-toggle {
    display: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 7px 20px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    border-radius: 3px;
}

.sidebar a:hover {
    background-color: #FFC466;
}

.sidebar a.active {
    background-color: #FFC466;
  } 
  
.sidebar-dropdown {
    height: 330px;
    width: 210px;
  }

.sidebar.finance-sidebar-dropdown {
    height: 500px;
    width: 250px;
}

.sidebar.sidebar-dropdown.finance-sidebar-dropdown {
    height: 580px;
    width: 250px;
}

.dropdown-sidebar {
    display: none;
}

.dropdown-sidebar.active {
    display: block;
}

.notification-box {
    background-color: #fff;
    position: fixed;
    top: 100px;
    left: 390px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.notification-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #333;
    margin-bottom: 20px;
}

.timetable {
    width: 100%;
    border-collapse: collapse;
}

.timetable th,
.timetable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.timetable th {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #F0F1F9;
}

.timetable td {
    font-size: 16px;
    color: #555;
}

.notification-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 30%;
}

.notification-notice {
    font-size: 16px;
    color: #555;
    width: 70%;
}

.month-box, .month-box-2 {
    background-color: #fff;
    position: fixed;
    top: -270px;
    left: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 1080px;
    height: 1080px;
    transform: scale(0.333);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.month-box-2 {
    left: 520px;
}

.month-box-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #333;
    margin-bottom: 20px;
}

input[type="submit"] {
    position: fixed;
    top: 520px;
    left: 710px;
    background-color: #FFC466;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .admin-info {
        margin-right: 0;
        justify-content: flex-end;
    }

    .logo{
        position: relative;
        top: 10px;
        margin-left: 30px;
    }

    .sidebar {
        height: 240px;
    }

    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 25px;
        left: 20px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        z-index: 1000;
    }

    .sidebar {
    display: none;
    }

    .sidebar-active {
        display: block;
    }

    .notification-box {
        top: 100px;
        left: 20px;
        padding: 20px;
        margin: 20px auto;
        max-width: 90%;
    }

    .notification-box-toggle{
        top: 350px;
    }

    .month-box, .month-box-2 {
        width: 90%;
        height: auto;
        max-width: 400px;
        left: 50%;
        transform: translateX(-50%) scale(1);
        top: 60px;
    }

    .month-box-2 {
        left: 50%;
        transform: translateX(-50%);
        top: 200px;
    }

    input[type="submit"] {
        position: relative;
        left: auto;
        width: 100%;
    }
}