body {
    font-family: 'Satoshi', sans-serif;
    background-color: #F0F1F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #ffae2b;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #3843d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="file"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    font-size: 17px;
    opacity: 0.9;
}

select {
    width: 46%;
}

input[type="submit"] {
    background-color: #FFC466;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #F4D35E;
}